.gradeTable {
  color: white;
  width: 100%; }
  .gradeTable thead {
    background-color: #222; }
  .gradeTable tbody tr:nth-child(odd) {
    background-color: #2228; }

/*# sourceMappingURL=gradeCalculator.css.map */